@import '../../styles/addOn';

textarea {
  height: rem-calc(152);
  border-color: rgb(73, 73, 69);
  background-color: rgb(25, 25, 23);
  box-shadow: rgba(3, 3, 2, 0.1) 0px 1px 2px inset;
  color: rgb(255, 255, 231);
}

pre {
  outline: 1px solid #ccc;
  padding: rem-calc(5);
  margin: rem-calc(5);
  color: white;
}


.copy-button {
  position: absolute;
  top: rem-calc(27);
  right: rem-calc(20);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: rem-calc(0);
  color: black !important;
}

.formattedJson {
  position: relative;
}
