@import '../styles/addOn';

textarea {
  height: rem-calc(152);
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }


.copy-button {
  position: absolute;
  top: rem-calc(27);
  right: rem-calc(20);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: rem-calc(0);
  color: black !important;
}

.formattedJson {
  position: relative;
}
