@import '../../styles/addOn';

canvas {
  border: 1px solid #000;
  background-color: lightgreen;
}

.startDiv {
  align-content: center;
}

.gameNotStarted {
  display: none;
}

.score {
  margin-top: 10px;
  font-size: 1.2em;
}
