@import '../../styles/addOn';

textarea {
  height: rem-calc(152);
  border-color: rgb(73, 73, 69);
  background-color: rgb(25, 25, 23);
  box-shadow: rgba(3, 3, 2, 0.1) 0px 1px 2px inset;
  color: rgb(255, 255, 231);
}

.text {
  padding-bottom: 0;
}

.counter {
  padding-top: 0;
}

.white-text {
  color: white;
}
