@media (min-width: 768px) {
  .active {
    background-color: #61977e;
    color: white;
    font-weight: bold;
  }
}

a {
  color: white;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
  .desktop-bar {
    display: none;
  }
  .mobile-bar {
    display: flex;
  }
}

@media (min-width: 768px) {
  .desktop-bar {
    display: flex;
  }
  .mobile-bar{
    display: none;
  }
}
