<ng-template #menuItemTemplate>
  <div class="cell shrink" [ngClass]="{'active': currentSelectedTab == 'home'}">
    <a (click)="changeTab('home')">Home</a>
  </div>
  <div class="cell shrink" [ngClass]="{'active': currentSelectedTab == 'jsonFormatter'}">
    <a (click)="changeTab('jsonFormatter')">Json Formatter</a>
  </div>
  <div class="cell shrink" [ngClass]="{'active': currentSelectedTab == 'characterCounter'}">
    <a (click)="changeTab('characterCounter')">Character Counter</a>
  </div>
  <div class="cell shrink" [ngClass]="{'active': currentSelectedTab == 'cardChallenge'}">
    <a (click)="changeTab('cardChallenge')">Card Challenge</a>
  </div>
</ng-template>

<div class="grid-x top-bar-container grid-padding-x align-middle desktop-bar">
  <ng-container [ngTemplateOutlet]="menuItemTemplate"></ng-container>
</div>
<div class="grid-y top-bar-container grid-padding-y align-middle mobile-bar">
  <ng-container [ngTemplateOutlet]="menuItemTemplate"></ng-container>
</div>
