<div class="grid-y top-bar-mobile-container grid-padding-y">
  <div class="cell shrink hamburger">
    <a href="javascript:void(0);" class="icon" (click)="showMenu = !showMenu">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div class="cell auto menu grid-y" *ngIf="showMenu">
    <div class="cell shrink" [ngClass]="{'active': currentSelectedTab == 'home'}">
      <a (click)="changeTab('home')">Home</a>
    </div>
    <div class="cell shrink" [ngClass]="{'active': currentSelectedTab == 'jsonFormatter'}">
      <a (click)="changeTab('jsonFormatter')">Json Formatter</a>
    </div>
  </div>
</div>
