@import '../styles/addOn';

.top-bar-mobile-container {
  position: relative;
  right: rem-calc(35);
}

a {
  color: black;
}

.menu {
  top: rem-calc(30);
  position: absolute;
  background-color: #333;
  z-index: 200;
}
