@import '../styles/addOn';

.top-bar-container {
  border: rem-calc(1) solid black;
  background-color: #333;
  padding: rem-calc(10);
}

.icon {
  width: rem-calc(60);
  height: rem-calc(60);
  cursor: pointer;
  color: white;
  fill: white;
}






